Package: com.missthee.wifiinfo
Name: WiFiInfo
Author: MissThee
Description: WiFi 密码查看，移除弱信号过滤，显示额外信息
Depends: mobilesubstrate
Maintainer: missthee
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
